body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}

nav a.actual {
	border-bottom: 2px solid #fff;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 30px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

form label {
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
}

form input[type="email"], form textarea {
	font-size: 16px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 100%;
	box-sizing: border-box;
}

form textarea {
	height: 150px;
}

form input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	font-size: 18px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

form input[type="submit"]:hover {
	background-color: #3e8e41;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
